@tailwind base;
@tailwind components;
@tailwind utilities;

/* OpenLayers CSS */
@import "ol/ol.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #171717;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 커스텀 스크롤바 스타일 */
* {
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb transparent;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #d1d5db;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

/* OpenLayers 커스텀 스타일 */
.ol-control {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 4px !important;
}

.ol-zoom {
  top: 1rem !important;
  right: 1rem !important;
  left: unset !important;
}

.ol-attribution {
  bottom: 0.5rem !important;
  right: 0.5rem !important;
  font-size: 0.75rem !important;
}
